.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.progress-container {
  display: flex;
  width: 340px;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.progress-container::before {
  content: "";
  background-color: lightgrey;
  border-radius: 5px;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease;
  z-index: -1;
}

.progress-bar {
  background-color: rgb(131, 186, 204);
  border-radius: 5px;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease;
  z-index: -1;
}

.circle {
  border: solid rgb(203, 205, 206) 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.circle.active {
  border: solid rgb(131, 186, 204) 2px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 30px;
  margin: 0 10px;
  outline: none;
  border: none;
  background-color: lightblue;
  border-radius: 5px;
  color: white;
}

.btn--green {
  background-color: rgb(193, 235, 193);
}

.btn:active {
  transform: scale(98%);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: lightgrey;
}
